<div class="text-center mt-5 mb-5">
  <h2>{{likesParam === 'Likers' ? 'Мне понравились' : 'Кому я понравился'}} : {{pagination.totalItems}}</h2>

  <div class="container mt-3">

    <div class="row">

      <div class="btn-group">
        <button class="btn btn-primary"
          [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">
        Понравились мне
        </button>
        <button class="btn btn-primary"
          [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">
        Кому я понравился
        </button>
      </div>
    </div> <!--/.row-->

      <br>

    <div class="row">
      <div *ngFor="let user of users" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
        <app-member-card [user]="user"></app-member-card>
      </div>
    </div> <!--/.row-->
  </div> <!--./container-->

  <div class="d-flex justify-content-center">
      <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [(ngModel)]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>

</div>